<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row g-3 align-items-center">

  <div class="col-auto">
    <%= form.label :tool_name, class:"form-label" %>
    <%= form.text_field :tool_name, class:"form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :brand_name, class:"form-label" %>
    <%= form.text_field :brand_name, class:"form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :purchase_date, class:"form-label" %>
    <%= form.date_field :purchase_date, class:"form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :purchase_location, class:"form-label" %>
    <%= form.text_field :purchase_location, class:"form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :waranty_lenght, class:"form-label" %>
    <%= form.text_field :waranty_lenght, class:"form-control" %>
  </div>

  <div>
    <%= form.submit "save", class:"btn btn-primary mt-2" %>
  </div>
</div>
<% end %>
